@import "tailwindcss";

/* Defining custom variables to be used with tailwind */
@theme {
  --color-background: #faf8f4;
  --color-foreground: #0c0c0c;

  --color-gold: #C5A059;
  --color-ivory: #f9f8f3;
  --color-charcoal: #1a1a1a;
  --color-grey: #736D66;
  --color-maroon: #621414;
  --color-taupe: #8B7D6B;
}

@theme inline {
  --font-lato: var(--font-lato), sans-serif;
  --font-larken: var(--font-larken), sans-serif;
  --font-tenor: var(--font-tenor), sans-serif;
}

html, body {
  background-color: #1a1a1a; /* Match your footer/charcoal color exactly */
  overscroll-behavior-y: none; /* Stops the "bounce" that reveals the white gap */
  overscroll-behavior-x: none;
}